@import url('https://fonts.googleapis.com/css2?family=Delius+Unicase:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'tailwindcss';


@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    --font-title: 'Delius Unicase';
    --font-text: 'Poppins';
    --color-background: #FFF5EB;
    --color-nav: #D4977E;
    --color-cta: #C46A46;
    --color-element: #E9C6B3;
    --color-hover: #B05F3F;
    --color-p: #E18B69;
    --color-text: #4B2E1D;
    --color-status: #40A000;
    --size-title: 24px;
}

@keyframes reveal {
    from {
        opacity: 0;
        clip-path: inset(45% 20% 45% 20%);
    }
    to {
        opacity: 1;
        clip-path: inset(0% 0% 0% 0%);
    }
}

.reveal-on-scroll {
    -webkit-view-timeline-name: --image-reveal;
    -webkit-view-timeline-axis: block;

    view-timeline-name: --image-reveal;
    view-timeline-axis: block;

    animation: reveal linear both;
    animation-timeline: --image-reveal;
    animation-range: entry 25% cover 50%;
}
@keyframes fadeZoom {
    0% { opacity: 0; transform: scale(1.1); }
    100% { opacity: 1; transform: scale(1); }
}

.animate-fadeZoom {
    animation: fadeZoom 1.5s ease-out forwards;
}

@layer utilities {
    @keyframes fade-up-out {
        0% {
            opacity: 1;
            transform: translateY(0);
        }
        80% {
            opacity: 1;
            transform: translateY(0);
        }
        100% {
            opacity: 0;
            transform: translateY(-10px);
        }
    }

    .animate-fade-up-out {
        animation: fade-up-out 5s ease-in-out forwards;
    }
}





